@import 'nav.CSS';

.hero-section{
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url(../image/clothe10.jpg);
    background-size: cover ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .logo{
    height: 150px;
    display: block;
    margin: auto;
}

